.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #2196f3;
    text-align: center;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 9px;
    left: -18px;
}

.tooltip:hover .browseText {
    visibility: visible;
}
.tooltip:hover .shotText {
    visibility: visible;
}
.tooltip:hover .zoomInText {
    visibility: visible;
}
.tooltip:hover .zoomOutText {
    visibility: visible;
}
.tooltip:hover .settingText {
    visibility: visible;
}
.tooltip:hover .searchText {
    visibility: visible;
}
